<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <!-- <style>
      .container1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: auto;
      }
      a {
        padding: 1rem;
      }
      .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container2 img {
        max-width: 50%;
        height: auto;
      }
    </style> -->
  </head>
  <body>
    <!-- <div class="container1">
      <a href="/auth/sign-in">Sign In</a>
      <h1>Welcome to Task Rabbit</h1>
      <a href="/auth/sign-up">Sign Up</a>
    </div>
    <div class="container2"> -->
      <img src="/views/images/rabbit.jpg" alt="Rabbit">
     
    </div>
  </body>
</html>
