<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Task</title>
  
  </head>
  <body>
    <h1>Create a Task</h1>
    <form action="/users/<%=user._id %>/tasks" method="POST">
      <label for="name">Task Name:</label>
      <input type="text" name="name" id="name" />

      <label for="description">Description:</label>
      <textarea name="description" id="description"></textarea>

      <label for="category">Category:</label>
      <input type="text" name="category" id="category" />

      <label for="isHighPriority">High Priority:</label>
      <input type="checkbox" name="isHighPriority" id="isHighPriority" />

      <label for="dueDate">Due Date:</label>
      <input type="date" name="dueDate" id="dueDate" />

      <label for="status">Status:</label>
      <select name="status" id="status">
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="On Hold">On Hold</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
