<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Task</title>
    <style>
         body {
        font-family: "Roboto", Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .logo {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .logo img {
        max-width: 50%;
        height: auto;
        margin-bottom: 1rem;
      }
      form {
        display: flex;
        flex-direction: column;
      }
      label{
      margin: 5px 0 5px 0;
      }

      input {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        padding: 10px;
        background-color: #0077cc;
        border: none;
        border-radius: 5px;
        color: whitesmoke;
        font-size: 20px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      nav {
        text-align: center;
      }
      
      nav a {
        padding: 1rem;
      }

    </style>
  
  </head>
  <body>
    <nav>
      <a href="/users/<%=user._id%>/tasks">Your Tasks</a>
      <a href="/auth/reset">Reset Your Password</a>
      <a href="/auth/sign-out">Sign Out</a>
    </nav>
    <h1>Create a Task</h1>
    <form action="/users/<%=user._id %>/tasks" method="POST">
      <label for="name">Task Name:</label>
      <input type="text" name="name" id="name" />

      <label for="description">Description:</label>
      <textarea name="description" id="description"></textarea>

      <label for="category">Category:</label>
      <input type="text" name="category" id="category" />

      <label for="isHighPriority">High Priority:</label>
      <input type="checkbox" name="isHighPriority" id="isHighPriority" />

      <label for="dueDate">Due Date:</label>
      <input type="date" name="dueDate" id="dueDate" />

      <label for="status">Status:</label>
      <select name="status" id="status">
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="On Hold">On Hold</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
